@charset "utf-8";

thead > tr {
	background-color: #333;
}

tbody > tr:nth-child(2n) {
	background-color: #EEE;
}

tbody > tr:nth-child(2n + 1) {
	background-color: #FFF;
}

tbody > tr:hover {
	background-color: #333;
	opacity: 0.9;
}

tbody > tr:hover > th,
tbody > tr:hover > td {
	color: #FFF;
}

th {
	font-weight: bold;
}

td,
th {
	padding: 5px;
}

thead > tr > th,
thead > tr > td {
	color: #FFF;
}

tbody > tr > th:not(:first-child),
tbody > tr > td:not(:first-child) {
	border-left: 1px;
	border-color: #333;
	border-style: solid;
}

thead > tr > th:not(:first-child),
thead > tr > td:not(:first-child) {
	border-left: 1px;
	border-color: #FFF;
	border-style: solid;
}

tbody > tr.divisor {
	border-top-color: #333;
	border-top-style: solid;
	border-top-width: 2px;
}

