@charset "utf-8";

:root {
	font-size: 12pt;
}

* {
	color: #000;
	font-size: 12pt;
	font-size: 1rem;
	line-height: 1.5;
	print-color-adjust: exact;
	-webkit-print-color-adjust: exact;
	-moz-print-color-adjust: exact;
	-o-print-color-adjust: exact;
	-ms-print-color-adjust: exact;
}

body > * {
	display: none;
}

body > section {
	background-color: #FFF;
	box-sizing: border-box;
}

@page {
	margin: 3cm 2cm 2cm 3cm;
	size: A4 portrait;
	/*counter-increment: pagina;*/
	/*@top-right {
		content: counter(pagina);
	}*/
	/*orphans: 3;*/
}

@media print {
	body > section {
		page-break-after: always;
	}

	body > section.capa {
		height: 100vh;
		page-break-after: always;
		page-break-inside: avoid;
	}
}

@media screen {
	body {
		background-color: #EEE;
		padding: 30px 0;
	}

	body > section.capa {
		height: 297mm;
	}

	body > section {
		border-color: #AAA;
		border-style: solid;
		border-width: 1px;
		box-shadow: 3px 6px 9px 0 #CCC;
		margin: auto;
		min-height: 297mm;
		padding: 3cm 2cm 2cm 3cm;
		width: 21cm;
	}

	body > section + section {
		margin-top: 30px;
	}
}
