@charset "utf-8";

section.preTextual,
section.textual,
section.posTextual {
	display: block;
}

section.capa {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-ms-flex-direction: column;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	-ms-justify-content: space-between;
}

section.capa > header > p {
	text-align: center;
	text-transform: uppercase;
}

section.capa > hgroup > h1 {
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

section.capa > hgroup > h2 {
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}

section.capa > section > p {
	text-align: center;
	text-indent: 0;
}

section.capa > footer > address,
section.capa > footer > time {
	text-align: center;
}

section.preTextual > h1,
section.posTextual > h1 {
	text-align: center;
}

section.preTextual > ol > li,
section.preTextual > ol > h1,
section.preTextual > ol > h2,
section.preTextual > ol > h3,
section.preTextual > ol > h4,
section.preTextual > ol > h5 {
	margin-top: 1em;
}

section.preTextual > h1,
section.preTextual > ol h1,
section.textual > h1,
section.textual > h1 > span,
section.textual > h1 > i,
section.posTextual > h1 {
	font-weight: bold;
	text-transform: uppercase;
}

section.preTextual > ol h2,
section.textual > h2,
section.textual > h2 > span,
section.textual > h2 > i,
section.posTextual > h2 {
	text-transform: uppercase;
}

section.preTextual > ol h3,
section.textual > h3,
section.textual > h3 > span,
section.textual > h3 > i,
section.posTextual > h3 {
	font-weight: bold;
}

section.preTextual > ol h4,
section.textual > h4,
section.textual > h4 > span,
section.textual > h4 > i,
section.posTextual > h4 {
}

section.preTextual > ol h5,
section.textual > h5,
section.textual > h5 > span,
section.textual > h5 > i,
section.posTextual > h5 {
	font-style: italic;
}

section.textual > ul,
section.textual > ol,
section.posTextual > ul,
section.posTextual > ol {
	margin-left: 2cm;
}

section.textual > ul > li,
section.textual > ol > li,
section.posTextual > ul > li,
section.posTextual > ol > li {
	list-style-position: outside;
	text-align: justify;
}

section.textual > ul > li,
section.posTextual > ul > li {
	list-style-type: disc;
}

section.textual > ol > li,
section.posTextual > ol > li {
	list-style-type: decimal;
}

section.preTextual > h1,
section.textual > h1,
section.posTextual > h1 {
	margin-bottom: 24pt;
}

section.textual > h2,
section.textual > h3,
section.textual > h4,
section.textual > h5,
section.posTextual > h2,
section.posTextual > h3,
section.posTextual > h4,
section.posTextual > h5 {
	margin-bottom: 24pt;
	margin-top: 48pt;
}

section.posTextual > p,
section.artigo > p.referencia,
section.posTextual.artigo > p.referencia {
	text-align: left;
	text-indent: 0;
	margin-left: 20px;
}

section.preTextual > p,
section.textual > p,
section.artigo > p,
section.posTextual.artigo > p {
	text-align: justify;
	text-indent: 2cm;
}

section.posTextual.artigo > p.autor,
section.artigo > p.autor {
	text-indent: 0;
	text-align: center;
}

section.artigo strong {
	font-weight: bold;
}

section.posTextual.artigo > p.resumo,
section.artigo > p.resumo {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	text-indent: 0;
}
