@charset "utf-8";

p[id^="referencia"] + p[id^="referencia"] {
	margin-top: 1rem;
}

p[id^="referencia"] a::before {
	content: "<";
}

p[id^="referencia"] a::after {
	content: ">";
}

i {
	font-style: italic;
}

a {
	background-color: rgba(11, 83, 148, 0.1);
	border-color: rgba(11, 83, 148, 1);
	border-style: solid;
	border-width: 0 0 1px 0;
	font: inherit;
	text-transform: inherit;
}

cite a {
	background-color: rgba(11, 148, 83, 0.1);
	border-color: rgba(11, 148, 83, 1);
}

a:hover {
	border-style: dotted;
}

cite {
	text-transform: uppercase;
}

cite.parenteses time::before,
cite.parenteses time::after {
	content: none;
}

cite.parenteses::before,
cite time::before,
dfn abbr::before {
	content: "(";
}

cite.parenteses::after,
cite time::after,
dfn abbr::after {
	content: ")";
}

abbr[title]:hover {
	background-color: rgba(255, 246, 143, 1);
	cursor: help;
}

abbr[title] {
	background-color: rgba(255, 246, 143, 0.5);
	border-color: #000;
	border-style: dotted;
	border-width: 0 0 1px 0;
	padding: 0 0 2px 0;
}

strong {
	font-weight: bold;
}

var {
	color: #D14;
	/*color: #104E8B;*/
	font-family: monospace;
}

code {
	background: #F5F5F5;
	border-color: #DDD;
	border-radius: 0.3em;
	border-style: solid;
	border-width: 1px;
	color: #666;
	font-family: monospace;
	font-size: 0.8em;
	padding: 0.2em;
}

pre {
	background: #F5F5F5;
	border-width: 1px;
}

pre,
figcaption {
	border-color: #DDD;
	border-radius: 0.3em;
	border-style: solid;
	padding: 0.2em;
}

pre,
pre.numerado li {
	color: #666;
	font-family: monospace;
}

pre.numerado {
	white-space: normal;
}

pre.numerado li {
	white-space: pre;
}

figure {
	margin: 20px 0;
}

figcaption {
	background: #FBFBFB;
	border-width: 0 1px 1px 1px;
	text-align: center;
}
